<div class="c-header">
  <%= link_to( "About", "#about", :class => "c-header__item c-header__item--text" ) %>
  <%= link_to( "Work", "#work", :class => "c-header__item c-header__item--text" ) %>
  <%= link_to( "Resume", "/assets/documents/JessPatten-Resume-2019.pdf", :class => "c-header__item c-header__item--text", target: "_blank" ) %>
  <%= link_to( "", "https://linkedin.com/in/jessicapatten", :class => "c-header__item c-icon c-icon--linkedin" ) %>
  <%= link_to( "", "mailto:jessica.patten17@gmail.com", :class => "c-header__item c-icon c-icon--email" ) %>
</div>